<div class="body">
<form [formGroup]="userFrom">
  <h2>Billing Address</h2>
  <input type="text" name="name" formControlName="name" placeholder="First Name"><br>
  <div *ngIf="!userFrom.controls['name'].valid && (userFrom.controls['name'].touched || userFrom.controls['name'].touched)">
    <div [hidden]="!userFrom.controls['name'].errors.required">
      Name is required
    </div>
    <div [hidden]="userFrom.controls['name'].errors.minLength">
      Name must be longer than 5 letters
    </div>
  </div>

  <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name"><br>

  <input type="text" name="address1" formControlName="address1" placeholder="Address Line 1"><br>

  <input type="text" name="address2" formControlName="address2" placeholder="Address Line 2"><br>

  <input type="text" name="city" formControlName="city" placeholder="city"><br>

  <input type="text" name="province" formControlName="province" placeholder="province"><br>

  <input type="text" name="country" formControlName="country" placeholder="country"><br>

  <input type="text" name="postalCode" formControlName="postalCode" placeholder="Postal Code"><br>

  <input type="text" name="email" formControlName="email" placeholder="email"><br>
  <div *ngIf="!userFrom.controls['email'].valid && (userFrom.controls['email'].touched || userFrom.controls['email'].touched)">
    <div [hidden]="!userFrom.controls['email'].errors.required">
      Name is required
    </div>
    <div [hidden]="userFrom.controls['email'].errors.pattern">
      Error
    </div>
  </div>
  <br>
  <div>
    <button  (click)="createUser()">REGISTER</button>
    <button (click)="updateUser()" >Update</button>
  </div>

</form>
<br><br>
<table>
  <tr>
        <th>Id</th>
        <th>name</th>
        <th>last Name</th>
        <th>address 1</th>
        <th>address 2</th>
        <th>city</th>
        <th>province</th>
        <th>country</th>
        <th>postalCode</th>
        <th>email</th>
        <th></th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{user.address1}}</td>
    <td>{{user.address2}}</td>
    <td>{{user.city}}</td>
    <td>{{user.province}}</td>
    <td>{{user.country}}</td>
    <td>{{user.postalCode}}</td>
    <td>{{user.email}}</td>
    <td><button (click)="delete(user.id)">Delete</button><button (click)="update(user)">Update</button></td>
  </tr>
</table>
</div>
